/* @media ( max-width: 500px ) { */

body {
  background: red;

}

.conteinerDica{
  width: 100%;
  height: 50px;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textDica{
  color: white;
  font-size: 23px;
}

.box1 {
  display: flex;
  justify-content: flex-end;
}

.box2 {
  /* background-color: green; */
  width: 900px;
  height: 500px;
}

.box3 {
  background-color: goldenrod;
  width: 100%;
  height: 350px;

}

.conteinerResposta {
  background-color: blueviolet;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textResposta{
  color: white;
  font-size: 23px;
}

.conteinerTeclado2{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 200px;
  background-color: brown;
}

.conteinerTeclado {
  background-color: rgb(65, 61, 61);
  width: 350px;
  height: 200px;
}

.teclado {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tecla {
  margin: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.tecla:hover {
  background-color: rgb(78, 74, 74);
  color: aqua;
}

.base {
  background-color: #957a56;
  width: 115px;
  height: 10px;
  margin-top: 350px;
  margin-left: 50px;
  position: absolute;
}

.coluna {
  background-color: #957a56;
  width: 10px;
  height: 250px;
  margin-top: 100px;
  margin-left: 100px;
  position: absolute;
}

.caibo {
  background-color: #957a56;
  width: 150px;
  height: 10px;
  margin-top: 100px;
  margin-left: 100px;
  position: absolute;
}

.corda {
  background-color: aliceblue;
  width: 5px;
  height: 50px;
  margin-top: 105px;
  margin-left: 240px;
  position: absolute;
}

/* .corda2{
  position: absolute;
  margin-top: 145px;
  margin-left: 225px;
  border: solid 5px goldenrod;
  border-radius: 100%;
  width: 25px;
  height: 25px;
} */

.cabeca {
  background-color: grey;
  position: absolute;
  margin-top: 155px;
  margin-left: 220px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.corpo {
  background-color: grey;
  width: 6px;
  height: 70px;
  margin-top: 180px;
  margin-left: 238px;
  position: absolute;
}

.bracoEsquerdo {
  position: absolute;
  background-color: grey;
  margin-top: 200px;
  margin-left: 224px;
  height: 40px;
  width: 6px;
  transform: skew(-35deg);
}

.bracoDireito {
  position: absolute;
  background-color: grey;
  margin-top: 200px;
  margin-left: 252px;
  height: 40px;
  width: 6px;
  transform: skew(35deg);
}

.pernaDireito {
  position: absolute;
  background-color: grey;
  margin-top: 250px;
  margin-left: 255px;
  height: 50px;
  width: 6px;
  transform: skew(35deg);
}

.pernaEsquerdo {
  position: absolute;
  background-color: grey;
  margin-top: 250px;
  margin-left: 220px;
  height: 50px;
  width: 6px;
  transform: skew(-35deg);
}

/* } */


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
